<html>
    <body>
        <h1>Add Employee</h1>
        <form method='POST' action="">
        Employee ID: <input type= 'text' name = "employ_id"/><br>
        Full name: <input type = "text" name='name'/><br>
        Salary: <input type = "text" name='salary'/><br>
        <input type = "submit"/>
        </form>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
       {% endwith %}

    </body>
</html>