<!--Adapted from https://tutorial101.blogspot.com/2020/03/python-flask-employee-create-read.html-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Hotel Management System</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  </head>
  <body>

    <!-- NAVIGATION  -->
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Rooms</a>
      <a class="navbar-brand" href="/customers">Customers</a>
      <a class="navbar-brand" href="/bookings">Bookings</a>
      <a class="navbar-brand" href="/employees">Employees</a>
    </nav>

    <div class="container pt-4">
      {% block body %}
      {% endblock %}
    </div>

<script>
const btnDelete= document.querySelectorAll('.btn-delete');
if(btnDelete) {
  const btnArray = Array.from(btnDelete);
  btnArray.forEach((btn) => {
    btn.addEventListener('click', (e) => {
      if(!confirm('Are you sure you want to delete it?')){
        e.preventDefault();
      }
    });
  })
}
</script>
  </body>
</html>
